* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.menu_style {
     width: 100%;
     line-height: 60px;
     background-color: #20232a;
     display: flex;
     justify-content: space-around;
}

a {
  color: lightblue;
}

a.active_class {
   color: #ffffff;
   border-bottom: 1px solid red;
}

.searchBar {
   width: 50%;
   height: auto;
   margin: 0 auto;
   text-align: center;
}

.searchBar input {
   padding: 5px 10px;
   margin: 30px 0;
   border-radius: 5px;
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
 }

 center {
   font-size: 40px;
   margin-top: 50px;
   color: red;
 }